@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados globais (opcional) */
body {
  @apply bg-brand-blue text-gray-300;
}

.game-card {
  @apply bg-gray-800 rounded-lg overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105;
}

.game-card img {
  @apply w-full h-auto object-cover aspect-[3/4]; /* Proporção de capa de jogo */
}
